.slider-container {
  width: 100%;
  background-color: #fff;
  padding: 50px 0;
  overflow: hidden;
}

.slick-slide {
  transition: all 0.5s ease;
  transform: scale(0.8);
  opacity: 0.4;
  z-index: 1;
  filter: blur(1px);
}

.slick-slide.slick-center {
  transform: scale(1.1);
  opacity: 1;
  z-index: 5;
  filter: blur(0);
}

.slick-slide img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
  display: block;
}

.slick-dots {
  bottom: -40px;
}
.slick-dots li button:before {
  color: #fff !important;
  font-size: 12px;
}
.slick-dots li.slick-active button:before {
  color: #fce762 !important;
}
